.card {
    max-width: 300px;
    margin-top: 10%;
    margin-left: 10%;
  }
  
  .primary-button {
    background-color: #42a5f5
  }
  .primary-button:hover {
    background-color: #01579B
  }
  
  .secondary-button {
    position: relative;
    background-color: #bdbdbd;
    margin-left: 10%;

  }
  .secondary-button:hover {
    background-color: #8d8d8d
  }
