.card {
    max-width: 300px;
    margin-top: 10%;
    margin-left: 10%;
    padding: 2% 2% 2% 2%;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  
  .primary-button {
    background-color: #42a5f5
  }
  .primary-button:hover {
    background-color: #01579B
  }
  
  .send-button {
   background-color: #42a5f5;
   padding-left: 50px;
   padding-right: 50px;
   color: white;
   font-size: 20px;
   border-radius: 15px;

  }
  .send-button:hover {
    background-color: #01579B
  }

  .card-actions {
    margin-right: 27%;  
  }



 
.labelFile {
  cursor: pointer;
  font-size: 22px;
  position: relative;
}

#material-symbols-outlined{
  max-width: 80px;

}



/* nuevo */

.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

