.card {
    max-width: 300px;
    margin-top: 10%;
    margin-left: 10%;
  }
  
  .primary-button {
    background-color: #42a5f5
  }
  .primary-button:hover {
    background-color: #01579B
  }
  
  .send-button {
   background-color: #42a5f5;
   padding-left: 50px;
   padding-right: 50px;
  }
  .send-button:hover {
    background-color: #01579B
  }

  .card-actions {
    margin-right: 27%;  
  }



 
.labelFile {
  cursor: pointer;
  margin-top: 1%;
  font-size: 22px;
  position: relative;
}

#material-symbols-outlined{
  max-width: 80px;

}



/* nuevo */

.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}