<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>

    <mat-card-title>
      <button mat-mini-fab color="primary" class="primary-button">
        <mat-icon>add</mat-icon>
      </button>
      Subir archivos
      <input type="file" #fileImportInput name="File Upload" id="csvFileUpload" (change)="fileChangeListener($event)"
      accept=".csv" />
    </mat-card-title>

  </mat-card-header>
  <img mat-card-image src="../../../assets/logo-liga-argentina.png">

  <mat-card-actions>
    <button mat-raised-button class="secondary-button">Enviar</button>
  </mat-card-actions>
</mat-card>