<mat-card class="card">
  <mat-card-header>

    <mat-card-title>
    <input hidden type="file" id="file" #csvReader name="Upload CSV" (change)="uploadListener($event)" accept=".csv" />    
 
    <button mat-mini-fab color="primary" class="primary-button" (click)="csvReader.click()">
        <mat-icon for="file">add</mat-icon>
      </button>
      <label for="file" class="labelFile">
        Subir archivo
      </label>
    </mat-card-title>

   
      <mat-card-subtitle class="divider" *ngIf="fileName!=''">Archivo subido: {{fileName}} </mat-card-subtitle>
 

  </mat-card-header>
  <img mat-card-image src="../../../assets/logo-liga-argentina.png">

  <mat-card-actions align="end" class="card-actions" >
    <button mat-raised-button class="send-button" (click)="send()">Enviar</button>
  </mat-card-actions>
</mat-card>
